@font-face {
    font-family: 'Gilroy-extrabold';
    src: url('/static/fonts/gilroyextrabold/font.eot');
    src: url('/static/fonts/gilroyextrabold/font.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/gilroyextrabold/font.woff') format('woff'),
    url('/static/fonts/gilroyextrabold/font.woff2') format('woff2'),
    url('/static/fonts/gilroyextrabold/font.ttf') format('truetype'),
    url('/static/fonts/gilroyextrabold/font.svg#andesregular') format('svg');
    font-weight: 300;
    font-style: normal;
}
