@font-face {
    font-family: 'Gilroy-light';
    src: url('/static/fonts/gilroylight/font.eot');
    src: url('/static/fonts/gilroylight/font.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/gilroylight/font.woff') format('woff'),
    url('/static/fonts/gilroylight/font.woff2') format('woff2'),
    url('/static/fonts/gilroylight/font.ttf') format('truetype'),
    url('/static/fonts/gilroylight/font.svg#andesregular') format('svg');
    font-weight: 500;
    font-style: normal;
}
