<div id="CF61ee903b87e6b_1-row-1" class="row  single">
  <div class="col-sm-12  single">
    <div
      data-field-wrapper="fld_1316929"
      class="form-group"
      id="fld_1316929_1-wrap"
    >
      <label
        id="fld_1316929Label"
        for="fld_1316929_1"
        class="control-label screen-reader-text sr-only"
        >Zakat</label
      >
      <div class="">
        <input
          placeholder="Zakat"
          type="number"
          data-field="fld_1316929"
          class=" form-control"
          id="fld_1316929_1"
          name="fld_1316929"
          value=""
          data-type="number"
          data-parsley-type="number"
          aria-labelledby="fld_1316929Label"
        />
      </div>
    </div>
    <div
      data-field-wrapper="fld_3447502"
      class="form-group"
      id="fld_3447502_1-wrap"
    >
      <label
        id="fld_3447502Label"
        for="fld_3447502_1"
        class="control-label screen-reader-text sr-only"
        >Sadaqah</label
      >
      <div class="">
        <input
          placeholder="Sadaqah"
          type="number"
          data-field="fld_3447502"
          class=" form-control"
          id="fld_3447502_1"
          name="fld_3447502"
          value=""
          data-type="number"
          data-parsley-type="number"
          aria-labelledby="fld_3447502Label"
        />
      </div>
    </div>
    <div
      data-field-wrapper="fld_5133639"
      class="form-group"
      id="fld_5133639_1-wrap"
    >
      <label
        id="fld_5133639Label"
        for="fld_5133639_1"
        class="control-label screen-reader-text sr-only"
        >Riba</label
      >
      <div class="">
        <input
          placeholder="Riba"
          type="number"
          data-field="fld_5133639"
          class=" form-control"
          id="fld_5133639_1"
          name="fld_5133639"
          value=""
          data-type="number"
          data-parsley-type="number"
          aria-labelledby="fld_5133639Label"
        />
      </div>
    </div>
    <div
      data-field-wrapper="fld_1338703"
      class="form-group"
      id="fld_1338703_1-wrap"
    >
      <div class="">
        <input
          class="btn btn-default"
          type="submit"
          name="fld_1338703"
          id="fld_1338703_1"
          value="Betaal Zakat"
          data-field="fld_1338703"
        />
      </div>
    </div>
    <input
      class="button_trigger_1"
      type="hidden"
      name="fld_1338703"
      id="fld_1338703_1_btn"
      value=""
      data-field="fld_1338703"
    />
  </div>
</div>
